/*-------
@group Normalize
--------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/*----------
@group Style Guide - custom styles
-----------*/
.example {
	border: 1px solid #37f;
}
