// Base list definition
//
// markup: 
// <ul>
// <li>First</li>
// <li>Second</li>
// <li>Third</li>
// </ul>
//
// Styleguide 1.2

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
